body{
    background-color: #FAF9F6;
}

/*Formats the appearance of the central page aspect*/
.content{
    max-width: 900px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap:10px;
}
/*Formats the appearance of the card like blocks*/
.block{
    text-align: center;
    background-color: #d3d3d35a;
    border-radius:25px;
}
/*Formats the appearance of the images inside of the blocks*/
.block > img{
    width:85%;
}
/*Specificaly target certain positions to certain blocks*/
.block:first-of-type{
    grid-column: span 6;
}
.block:nth-of-type(2){
    grid-column-start:8;
    grid-column-end: 13;
}
.block:nth-of-type(3), .block:nth-of-type(4){
    grid-column: span 6;
}
/*Format the block links*/
.blockLink{
    text-decoration: none;
    color: darkblue;
}